// Bootstrap Framework.
@import 'imports/bootstrap';

// Base-theme overrides.
@import 'imports/overrides';

// Colors!
@import 'imports/colors';

// The poster (one sheet) grid
@import 'imports/poster-grid';

//--- Mixin's ------------------------------------------------------------//

// https://codemyviews.com/blog/10-less-css-examples-you-should-steal-for-your-projects

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

//--- Implementations ----------------------------------------------------//

div.branding-block {
  width: 100%;
}

.views-view-grid.horizontal {
  width: 80%;
  display: block;
  horiz-align: center;
}

body {
  width: 100%;
  background: url("/themes/custom/wieting_theme/images/BlueGradient.jpg");
  background-size: contain;
  background-repeat: repeat-x;
}

//--- One sheet grid with banner

@grid-background: antiquewhite;

.img-responsive,
.thumbnail img,
.thumbnail a img,
.carousel-inner .item img,
.carousel-inner .item a img {
  display: block;
  max-width: 182px;
  height: auto;
  border: 1px solid black;
}

div.view-upcoming-shows div.view-header img,
div.view-upcoming-shows div.view-header div.view-content {
  display: block;
  width: 100%;
}

div.views-field.views-field-field-one-sheet {
  background: @grid-background;
  padding: 3px;
}

div.one-sheet-views-grid {
  background-image: url("/themes/custom/wieting_theme/images/WietingBrickFront.png");
  background-repeat: repeat;
  background-position: top center;
  margin: 0 7%;
  text-align: center;
}

div.views-view-grid.horizontal {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  width: 90%;
  text-align: center;
}

div.one-sheet-views-grid div.views-view-grid.horizontal.cols-1.clearfix div.views-row.clearfix {
  display: inline-block;
  clear: right !important;
  float: left;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  width: 188px !important;
}

div.views-row.clearfix.row-1 {
  margin-left: auto;
}

div.views-col {
  float: left;
  margin: auto;
  width: 188px;
}

div.views-field.views-field-field-show-dates,
div.views-field.views-field-title {
  text-align: center;
  background: @grid-background;
  color: contrast(@grid-background, @lite, @dark);
  .border-radius(5px);
  margin: 6px 3px;
}

//-- Remove the header#navbar

header#navbar {
  display: none;
}

    //--- Banner

  a.logo.navbar-btn.pull-left img {
    width: 100%;
  }

/*-- Front page One Sheet grid

.img-responsive {
  margin-left: auto;
  margin-right: auto;
}

//--- Page

body {
  width: 100%;
  margin: 5px;
}

div.main-container.container {
  width: 100%;
  max-width: 1150px;
}

.row {
  margin: 0 5px;
}

//--- Banner

a.logo.navbar-btn.pull-left img {
  width: 1000px;
}

.navbar-btn {
  padding: 10px;
  margin: 10px 15px;
  .border-radius(5px);
}

.navbar-brand {
  display: none;
}

.navbar-default .navbar-collapse {
  margin: 0px 10px 5px 10px;
  padding: 10px 30px 10px 10px;
  .border-radius(5px);
  font-size: 1.2em;
}


//--- Admin menu

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: 3px;
}

//--- Main menu

#block-development {
 .border-radius(5px);
  padding: 5px 15px;
}

//--- Primary region links

a {                                   // Defaults for all links
  font-weight: normal;
  text-decoration: none !important;   // NO underlines on links
}

// dynamics

a:hover,
a:focus {
  text-decoration: underline !important;
}

.is-active a:hover,
.is-active a:focus {
  text-decoration: underline !important;
  .border-radius(5px);
}

// dynamics

a.well a:hover,
a.well a:focus {
  text-decoration: underline !important;
}

#block-development {
  padding: 2px 10px;
  margin: 5px;
}

//--- Site logo size and layout

.navbar-default {
  border: none;
}

.navbar {
  margin-bottom: 0;
}

.navbar-btn {
  margin-top: 3px;
}

div.navbar-header {
  float: none;
  width: 100%;
}

div.site-banner {
  width: 100%;
  text-align: center;
}

//--- .well - The secondary (right-hand) block region

.well {
    min-height: 20px;
    padding: 10px;
    margin: 8px 5px;
    .border-radius(5px);
}

//--- Calendars

div.calendar-calendar a {
  font-size: 1.25em;
}

nav.pager ul li a {
  font-size: 1em;
}

//--- Poster grid

.views-field-field-one-sheet {
  margin: 0 5px;
}

div.views-field.views-field-title,
div.views-field-field-show-dates {
  text-align: center;
}

//--- 'Show' full content page

div.show_details {
  display: block;
}

div.one_sheet {
  display: block;
  float: left;
  width: auto;
  overflow: hidden;
  margin-right: 10px;
}

div.remaining_details {
  display: block;
  overflow: hidden;
}

div.field--name-field-one-sheet.field--type-image a img {
  border: 3px solid @p-border;
}

*/